@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-site;
}

@layer base {
  :root {
    --color-site: 23deg 100% 97%;
    --color-text: 17deg 33% 4%;
    --color-brand: 240deg 45% 12%;
  }

  @font-face {
    font-family: "Mersad";
    font-weight: 100;
    src: url("/fonts/mersad-extralight.woff2") format("woff2"),
      url("/fonts/mersad-extralight.woff") format("woff");
  }

  @font-face {
    font-family: "Mersad";
    font-weight: 200;
    src: url("/fonts/mersad-thin.woff2") format("woff2"),
      url("/fonts/mersad-thin.woff") format("woff");
  }

  @font-face {
    font-family: "Mersad";
    font-weight: 300;
    src: url("/fonts/mersad-light.woff2") format("woff2"),
      url("/fonts/mersad-light.woff") format("woff");
  }

  @font-face {
    font-family: "Mersad";
    font-weight: 400;
    src: url("/fonts/mersad-regular.woff2") format("woff2"),
      url("/fonts/mersad-regular.woff") format("woff");
  }

  @font-face {
    font-family: "Mersad";
    font-weight: 500;
    src: url("/fonts/mersad-medium.woff2") format("woff2"),
      url("/fonts/mersad-medium.woff") format("woff");
  }

  @font-face {
    font-family: "Mersad";
    font-weight: 600;
    src: url("/fonts/mersad-semibold.woff2") format("woff2"),
      url("/fonts/mersad-semibold.woff") format("woff");
  }

  @font-face {
    font-family: "Mersad";
    font-weight: 700;
    src: url("/fonts/mersad-bold.woff2") format("woff2"),
      url("/fonts/mersad-bold.woff") format("woff");
  }

  @font-face {
    font-family: "Mersad";
    font-weight: 800;
    src: url("/fonts/mersad-extrabold.woff2") format("woff2"),
      url("/fonts/mersad-extrabold.woff") format("woff");
  }

  @font-face {
    font-family: "Mersad";
    font-weight: 900;
    src: url("/fonts/mersad-black.woff2") format("woff2"),
      url("/fonts/mersad-black.woff") format("woff");
  }
}

@layer utilities {
  .apply-row-span {
    /* grid-row-start: 1;
    grid-row-end: 3; */

    @media screen and (max-width: 743px) {
      grid-row-start: 1;
      grid-row-end: 3;
    }

    @media screen and (min-width: 744px) {
      grid-row-start: 1;
    }
  }
}
